@import 'tailwindcss';
@config '../tailwind.config.ts';

/* NOTION CSS OVERRIDE */

.notion {
  @apply text-gray-600 dark:text-gray-200;
  overflow-wrap: break-word;

  --notion-font: var(--font-inter);
}

.notion-text,
.notion-quote,
.notion-h-title {
  @apply p-0;
  @apply my-3;
}

.notion-collection-page-properties {
  display: none;
}

.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-simple-table {
  @apply my-3;
}

.notion-bookmark {
  @apply rounded-lg border-1 border-gray-500/30 dark:border-gray-400/30;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-100;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-700 dark:text-gray-300;
}

/* .notion-bookmark:hover {
  @apply border-opacity-100 dark:border-opacity-100;
} */

.notion-viewport {
  z-index: -10;
}

.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}

.notion-asset-wrapper-image > div > img {
  @apply rounded-md bg-gray-100 drop-shadow-md dark:bg-gray-900;
}

.notion-full-width {
  @apply px-0;
}

.notion-page {
  @apply w-auto;
  @apply px-0;
}

.notion-quote {
  padding: 0.2em 0.9em;
  @apply text-base;
}

.notion-collection-row {
  @apply hidden;
}

.notion-collection {
  @apply max-w-full;
}

.notion-collection > .notion-collection-header {
  @apply px-0;
}

.notion-collection-header > .notion-collection-view-type {
  @apply hidden;
}

.notion-collection > .notion-table {
  @apply max-w-full;
}

.notion-collection > .notion-table > .notion-table-view {
  @apply px-0;
}

.notion-table-cell.notion-table-cell-text {
  @apply flex items-center;
}

a.notion-link {
  @apply opacity-80;
  @apply border-b-[1.5px] border-blue-500 text-blue-500 dark:border-blue-400 dark:text-blue-400;
}

a.notion-page-link {
  @apply pointer-events-none;
}

.notion-list li {
  padding: 0;
}

.notion-list > li::marker {
  @apply text-gray-500 dark:text-gray-400;
}

.notion-table-of-contents-item > span {
  @apply border-gray-500 text-gray-500 dark:border-gray-400 dark:text-gray-400;
}

/* code */
.notion-code {
  @apply flex overflow-hidden rounded-md border-gray-400 bg-gray-50 p-4 dark:border-gray-600 dark:bg-gray-800;
}

.notion code {
  @apply overflow-auto border-none bg-none p-0 text-gray-700 shadow-none dark:text-gray-300;
}

.notion-code-copy-button {
  @apply dark:invert;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-700;
  text-shadow: none !important;
}

.dark-mode code[class*='language-'],
.dark-mode pre[class*='language-'] {
  @apply text-gray-100;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  @apply hidden;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  @apply bg-transparent;
}

pre[class*='language-'] > code {
  border-left: 0 none !important;
}

/* for profile image block */
.notion-block-9a3fab186b4a44f8822834ce66a4fc88 > div > img,
.notion-block-f96cde5fda7a449f8e6084bd12b98bf1 > div > img {
  animation: fluid 24s ease 0s infinite;
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  min-width: 192px;
  min-height: 192px;
  max-width: 100%;
  max-height: 100%;
  @apply dark:border-day border-2 border-gray-300 bg-gray-100 dark:bg-gray-900;
}

@keyframes fluid {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/* for about embed */
.notion-block-5550b6d861c44cbd86d2544970284f81 > div {
  height: 100vh !important;
}
